<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="/logo.png" width="30" height="30" /></a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/search" class="nav-link">Search</a></li>
        <li class="nav-item"><a href="/free-games" class="nav-link">Epic Free Games</a></li>
        <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
    </ul>
    <ul class="navbar-nav mr-right">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Sign In</a>
            <div class="dropdown-menu p-3">
                <a href="/login" class="nav-link"><button type="button" class="btn btn-light">Log-in</button></a>
                <a href="/register" class="nav-link"><button type="button" class="btn btn-dark">Register</button></a>
            </div>
        </li>
    </ul>
</nav>