<!DOCTYPE html>

<head>
    <title>Game Save</title>
    <link rel="icon" href="../logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/user-header'); %>
        <!--Adds the header for a logged in user -->
        <section id="profile">
            <div class="container d-flex flex-column justify-content-center align-items-center">
                <h1>Profile Information</h1>
                <form id="profile" action="/edit-profile" method="POST" class="form-group">
                    <table class="profile">
                        <tr>
                            <td><label for="email">Email:</label></td>
                            <td><input type="email" id="email" name="email" placeholder="<%= email %>" /><br></td>
                        </tr>
                        <tr>
                            <td><label for="username">Username:</label></td>
                            <td><input type="text" id="username" name="username" placeholder="<%= username %>" /><br></td>
                        </tr>
                    </table>
                    <div style="text-align: center;"><button type="submit" class="btn btn-dark"
                            value="Update Information">Update Information</button></div>
                </form>
                <a href="/change-password"><button class="btn btn-dark">Change Password</button></a>
                <a href="users.html"><button class="btn btn-dark">Admin Settings</button></a>
            </div>
        </section>
</body>