<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Reset Password</title>
    <link rel="icon" href="/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./partials/non-user-header'); %>
        <section id="reset">
            <div class="container d-flex flex-column justify-content-center align-items-center">
                <h1>Reset Password</h1>
                <form id="reset" action="/reset-password" method="POST">
                    <input type="hidden" name="userId" value="<%= userId %>" /><br>
                    <input type="hidden" name="token" value="<%= token %>" /><br>
                    <input type="password" name="password" id="password" placeholder="Password" /><br>
                    <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm new password" /><br>
                    <input type="checkbox" id="showpass" name="showpass" onclick="showPassword()" />
                    <label for="showpass">Show Password</label><br>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-dark" value="Change Password">Change Password</button>
                    </div>
                </form>
            </div>
        </section>
        <script>
            function showPassword() {
                let check = document.getElementById("showpass").checked
                let x = document.getElementById("password");
                let y = document.getElementById("confirmpassword");
                if (check === true) {
                    x.type = "text";
                    y.type = "text";
                } else {
                    x.type = "password";
                    y.type = "password";
                }
            }
        </script>
</body>
</html>