<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"
                       th:aria-current="${#httpServletRequest.getRequestURI() == '/' ? 'page':''}"
                       th:href="@{/}" th:text="'Home'">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '' ? 'active':''}"
                       th:aria-current="${#httpServletRequest.getRequestURI() == '' ? 'page':''}"
                       th:href="@{/}" th:text="'Profile'">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '' ? 'active':''}"
                       th:aria-current="${#httpServletRequest.getRequestURI() == '' ? 'page':''}"
                       th:href="@{/}" th:text="'Search'">Search</a>
                </li>
                <form class="d-flex mr-2" th:action="@{/}">
                    <input class="form-control me-2" name="search" type="search" placeholder="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item pl-2 ml-4">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
